.team {
  text-align: center;
  background-color: getColor("secondary-background-color");
}
.team-list {
  display: flex;
  margin-left: calc((-1) * #{$item-gap});
}
.employee {
  flex-basis: calc(100% / 4 - #{$item-gap});
  margin-left: $item-gap;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.employee__image {
  display: block;
  max-width: 100%;
}
.employee__description {
  max-width: 100%;
  padding-top: $item-gap;
  padding-bottom: $item-gap;
  background-color: getColor("regular-white-color");
  font-size: 16px;
  line-height: 1.19;
}
.team__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
}
.team__text {
  margin-bottom: 16px;
}
