.team {
  @include section();
  text-align: center;
  background-color: getColor("secondary-background-color");
}
.team-list {
  @extend %list;
  display: flex;
  @include negative-left-marg($item-gap);
}
.employee {
  @include grid(4, $item-gap);
  margin-left: $item-gap;
  box-shadow: $team-card-shaddow;
  border-radius: 0px 0px 4px 4px;
}
.employee__image {
  display: block;
  max-width: 100%;
}
.employee__description {
  @include section($item-gap, $item-gap);
  max-width: 100%;
  background-color: getColor("regular-white-color");
  font-size: 16px;
  line-height: 1.19;
}
.employee__subtitle {
  @extend %subtitle;
  margin-bottom: 10px;
  font-weight: 500;
  text-transform: none;
}
.employee__text {
  @extend %text;
  margin-bottom: 16px;
}
